/* ================================================
    General 
   ================================================ */

.bottom-border-divider{
    border-bottom: 1px solid #dcdcdc;
}

.text-title{
    font-size: 32px;
    line-height: 36px;
    color: #333333;
    font-family: "Quicksand";
    font-weight: 500;
}

.text-paragraph{
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 400;
}

.text-btn{
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    font-family: "Quicksand";
    font-weight: 700;
    text-align: center;
}

/* ================================================
    LOGO + NAVIGATION 
   ================================================ */

/* header --------------------------- */

header{
    background-color: #f5fcfd;
    width: 100%;
    height: 100px;
}

#header #logo{
    float: left;
    padding-top: 35px;
}

#header #logo h1:hover{
    color: black;
}

#header #logo h1{
    font-size: 36px;
    line-height: 24px;
    color: #0f7bff;
    font-family: "Quicksand";
    font-weight: 700;
    padding-left: 140px;
}

#header #menu{
    float: right;
    padding-top: 35px;
    padding-right: 140px;
}

#header #menu a{
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 500;
    padding-right: 30px;
}

#header #menu a:hover{
    color: #0f7bff;
    text-decoration: none;

}

#header #menu .sign-up{
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    border: 2px solid #0f7bff;
    border-radius: 30px;
    background-color: #0f7bff;
    color: #ffffff;
}

#header #menu .sign-up:hover{
    background-color: #ffffff;
    color: #0f7bff;
}

/* ================================================
    sign up page style 
   ================================================ */

#sign-up{
    text-align: center;
    padding: 120px 0px;
}

#sign-up-header h1{
    padding-bottom: 20px;
}

/* social media ---------------------- */
#sign-up #social-media{
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 45% 45%;
    padding-top: 40px;
}

#sign-up #social-media h1,
#sign-up #social-media a{
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;

}



#sign-up #social-media .fb{
    background-color: #3b5999;
    color: white;
}

#sign-up #social-media .tw{
    background-color: #55acee;
}

#sign-up #social-media .fb:hover{
    background-color: #ffffff;
    color: #3b5999;
    border: 2px #3b5999 solid;
}

#sign-up #social-media .tw:hover{
    color: #55acee;
    background-color: #ffffff;
    border: 2px #55acee solid;
}

/* divider ---------------------- */
#sign-up #divider{
    font-size: 16px;
    line-height: 27px;
    color: #333333;
    font-family: "Quicksand";
    font-weight: 400;
    text-align: center;
    margin: 40px 0;
}

/* formular --------------------- */
#sign-up form .f-container{
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 100%;
}

#sign-up input[type="text"]{  
    padding: 20px;
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 400;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

#sign-up form .already{
    padding-bottom: 10px;
}

#sign-up input[type="submit"]{  
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    font-family: "Quicksand";
    font-weight: 700;
    text-align: center;
    background-color: #0f7bff;
    border: 2px solid #0f7bff;
    border-radius: 30px;
    padding: 10px 50px 10px 50px;
}

/* ================================================
    contact page style 
   ================================================ */

/* contact --------------------------- */

#contact{
    height: 400px;
    background-color: #f5fcfd;
}

#contact #contact-title{
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 130px;
}

#contact-title h1,
#contact-title p
{
    margin: 0;
    padding-bottom: 20px;
}

#contact-title p{
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    font-family: "Quicksand";
    font-weight: 500;
}

#contact-title h1{
    font-size: 42px;
    line-height: 24px;
    color: #333333;
    font-family: "Quicksand";
    font-weight: 700;
}


#contact #contact-image{
    float: right;
    padding-top: 50px;

}

/* grid --------------------------- */

#features .grid-container {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 33% 33% 33%;
    
  }

#features .feat{
    text-align: center;
    border: 1px solid #dcdcdc;
    margin: 130px 0;
}

#features .feat img{
    padding-top: 30px;
    padding-bottom: 10px;
}

#features .feat h1{
    font-size: 18px;
    line-height: 27px;
    color: #0f7bff;
    font-family: "Quicksand";
    font-weight: 500;
    padding-bottom: 20px;
    margin: 0;
}

#features .feat p{
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 400;
    margin: 0;

}

#features .feat .last{
    padding-bottom: 30px;
}


/* formular --------------------------- */

#formular{
    margin-bottom: 120px;
}

#formular .f-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 50% 50%;
}


#formular h1{
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    color: #333333;
    font-family: "Quicksand";
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
}

#formular textarea{
    padding: 20px;
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 400;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width: 100%;
    height: 160px;
    grid-column-start: 1;
    grid-column-end: 3;
}

#formular input[type="text"]{  
    padding: 20px;
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 400;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

#formular input[type="submit"]{  
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    font-family: "Quicksand";
    font-weight: 700;
    text-align: center;
    background-color: #0f7bff;
    border: 2px solid #0f7bff;
    border-radius: 30px;
    padding: 10px 50px 10px 50px;
}

/* ================================================
    Thanks-page style 
   ================================================ */

#thanks{
    padding-bottom: 130px;
    text-align: center;
}

#thanks .thanks-img{
    padding-top: 120px;
    padding-bottom: 50px;
    width: 100%;
}

#thanks .thanks-text h1{
    font-size: 32px;
    line-height: 36px;
    color: #333333;
    font-family: "Quicksand";
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
}

#thanks .thanks-text p{
    /* width: 750px;
    height: 44px; */
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 400;
    text-align: center;
    padding-bottom: 50px;
}

#thanks .thanks-text a{
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    font-family: "Quicksand";
    font-weight: 700;
    background-color: #0f7bff;
    padding: 30px 60px;
    border-radius: 5px;
}

#thanks .thanks-text a img{
    margin-left: 5px;
}

#thanks .thanks-text a:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #0f7bff;
}

#thanks .thanks-text a img:hover{
    color: #0f7bff;
}


/* ================================================
    Bottom side of the site 
   ================================================ */

/* app-bot --------------------------- */
#app-bot{
    padding: 120px 0px;
    background-color: #f5fcfd;

}

#app-bot .col-md-6 h1{
    font-size: 36px;
    line-height: 24px;
    color: #0f7bff;
    font-family: "Quicksand";
    font-weight: 700;
    padding-bottom: 20px;
}

#app-bot .col-md-6 p{
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 400;
    width: 85%;
}

#app-bot .col-md-2 h1{
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    font-family: "Quicksand";
    font-weight: 500;
    padding-bottom: 20px;
}

#app-bot .col-md-2 a{
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 400;
    display: block;
}

#app-bot .col-md-2 a:hover{
    color: #0f7bff;
    text-decoration: none;
}

#app-bot .fab{
    padding-right: 10px;
    color: #929292;
}

#app-bot .fab:hover{
    padding-right: 10px;
    color: #0f7bff;
}

/* footer --------------------------- */
#footer{
    background-color: #f5fcfd;
    height: 100px;
    position: relative;
}

#footer #foo-left{
    float: left;
    padding-top: 35px;
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 400;
}

#footer #foo-right{
    padding-top: 35px;
    float: right;
    font-size: 16px;
    line-height: 27px;
    font-family: "Quicksand";
    font-weight: 400;
    text-align: right;
}

#footer #foo-right a{
    padding-left: 30px;
    color: #929292;

}

#footer #foo-right a:hover{
    color: #0f7bff;
    text-decoration: none;
}

#footer #top-arrow{
    position: absolute;
    float: right;
    top: 25px;
    right: 150px;
    width: 45px;
    height: 45px;
    background-color: #0f7bff;
    text-align: center;
    border-radius: 3px;
}

#footer #top-arrow img{
    color: #ffffff;
    padding-top: 11px;
}

/* ================================================
    Login 
   ================================================ */

#sign-up #forgot{
    float: left;
}

#sign-up #create{
    float: right;
}

#sign-up #log-in{
    padding-top: 80px;
    /* margin: auto; */
}


/* ================================================
    Blog 
   ================================================ */
#blog {
    margin-top: 120px;
}

/* blog post  ------------------------*/*/
#blog .blog-grid{
    display: grid;
    column-gap: 30px;
    grid-template-columns: 33% 33% 33%;
}

#blog .blog-post .post-img{
    /* width: 350px;
    height: 200px; */
    width: 100%;
    height: 200px;
}

/* blog infos ------------------------*/*/
#blog .blog-post .post-content{
    padding: 30px;
}

#blog .blog-post .infos p{
    display: inline;
    padding: 5px 20px 0px 0px;
}

#blog .blog-post .infos img{
    width: 20px;
}

/* infos text ------------------------*/
#blog .blog-post .infos .post-title{
    font-size: 18px;
    line-height: 36px;
    color: #333333;
    font-family: "Quicksand";
    font-weight: 500;
}

#blog .blog-post .infos h2{
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    font-family: "Quicksand";
    font-weight: 400;
}

#blog .blog-post .infos .post-link{
    font-size: 16px;
    line-height: 27px;
    color: #333333;
    font-family: "Quicksand";
    font-weight: 500;
}
